* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    height: 10vh;
    width: calc(100% - 2em);
    background: #013580;
    text-align: center;
    color: white;
    margin-bottom: 2em;
}

main {
    width: 100%;
    margin-top: 60px;
}

main .hotel-wrapper {
    border: silver 1px solid;
    background: white;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 3px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1em;
}

main .hotel-wrapper .text-box {
    width: 75%;
}

main .hotel-wrapper .text-box .title {
    color: #0171C2;
    margin-bottom: 0.5em;
}

main .hotel-wrapper .text-box .description {
    font-size: 10pt;
    text-align: justify;
    hyphens: auto;
}

main .hotel-wrapper .image-container {
    height: 100px;
    width: 100px;
    overflow: hidden;
}

main .hotel-wrapper .image-container .image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

@media screen and (min-width: 650px){
    main {
        width: 650px;
    }
}