<!DOCTYPE html>
<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<head>
    <meta charset="UTF-8">
    <title>Fluid Demo</title>
</head>
<body>
    <f:layout name="{layout}" />
    <f:section name="Navigation">
        <f:render partial="Header" arguments="{navigation: navigation}"/>
    </f:section>
    <f:section name="Heading">
        <h1>Most Famous Hotels</h1>
    </f:section>
    <f:section name="Main">
        <f:for each="{hotels}" as="hotel">
                <f:render partial="Hotel" arguments="{hotel: hotel}"/>
            </f:for>
    </f:section>
    <f:section name="Footer">
        <f:render partial="Footer" arguments="{authors: authors}"/>
    </f:section>
</body>
</html>