<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="shortcut icon" href="./assets/favicon.svg" type="image/x-icon">
    <title>Hotels</title>
</head>
<body>
    {% block header %}
        {% include './header.html' %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
        {% include './footer.html' %}
    {% endblock %}
</body>
</html>