<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Hotels</title>
</head>
<body>
<main>
    <div class="hotel-wrapper">
        <h1 class="title">The Grand Plaza Hotel</h1>
        <p class="description">
            Das The Grand Plaza Hotel befindet sich in einer erstklassigen Lage im Herzen der Innenstadt. Es bietet
            luxuriöse Zimmer
            und Suiten, die mit modernen Annehmlichkeiten wie Highspeed-WLAN und Flachbildfernsehern ausgestattet sind.
            Gäste können das hoteleigene Fitnesscenter nutzen oder im hoteleigenen Restaurant exzellente Küche genießen.
            Das Hotel verfügt auch über einen Konferenzraum und eine stilvolle Lobby-Bar, die der perfekte Ort für ein
            Getränk nach einem langen Tag ist.
        </p>
    </div>
    <div class="hotel-wrapper">
        <h1 class="title">The Artisan Boutique Hotel</h1>
        <p class="description">
            Das The Artisan Boutique Hotel ist ein charmantes Boutique-Hotel in einer ruhigen Gegend am Stadtrand. Die
            Zimmer sind
            individuell gestaltet und bieten einzigartige Details wie Vintage-Möbel und handgemachte Kunstwerke. Im
            Hotel gibt es ein gemütliches Café, in dem Gäste hausgemachte Kuchen und Kaffee genießen können. Das Hotel
            verfügt auch über einen schönen Garten, in dem Gäste sich entspannen und die ruhige Atmosphäre genießen
            können.
        </p>
    </div>
    <div class="hotel-wrapper">
        <h1 class="title">The Seaside Resort & Spa</h1>
        <p class="description">
            Das The Seaside Resort & Spa ist ein familienfreundliches Resort, das direkt am Strand gelegen ist. Es
            bietet geräumige Zimmer und Suiten mit Blick auf das Meer oder die Gärten. Das Resort verfügt über einen
            großen Poolbereich mit Wasserrutschen und einem Kinderbecken, sowie ein Spa und ein Fitnesscenter. Gäste
            können auch Aktivitäten wie Kajakfahren und Schnorcheln direkt vom Strand aus genießen. Im hoteleigenen
            Restaurant werden köstliche Gerichte serviert und es gibt auch mehrere Bars und Lounges, die den perfekten
            Ort für einen entspannten Cocktail am Abend bieten.
        </p>
    </div>
</main>
</body>
</html>